extends html

block main-content
  h1 Devices
  #devices
    each device in devices
      div.device(id="device-#{device.id}") #{device.name}
        span.ui.toggle.checkbox
          input(
            type='checkbox'
            id="input-device-#{device.id}"
            checked=device.on && 'checked'
          )
          label(for="input-device-#{device.id}") On
